# Cấu hình port (mặc định 3000)
PORT=3000

# Cấu hình SePay (Lấy trong Admin SePay)
SEPAY_API_KEY=YOUR_SEPAY_API_KEY
SEPAY_ACCOUNT=YOUR_BANK_ACCOUNT_NUMBER
SEPAY_BANK=MSB
SEPAY_ACCOUNT_NAME=YOUR_NAME

# Cấu hình Resend (Lấy trong Resend Dashboard)
RESEND_API_KEY=YOUR_RESEND_API_KEY

# Cấu hình Google App Script (Link Web App lưu Google Sheet)
GOOGLE_APP_SCRIPT_URL=YOUR_GOOGLE_APP_SCRIPT_URL

# URL website thực tế (Ví dụ: https://mywebsite.com)
SITE_URL=http://localhost:3000
